<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon App</title>
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
          font-family: 'Spartan', monospace;
          text-align: center;
        }
      </style>
</head>
    <body>
        <h1 style="font-size: xx-large;">Pokemon App</h1>
        <h2 style="font-size: large;">See all the Pokemon!</h2>
        <ul>
            <% for (let i = 0; i < pokemon.length; i++) { %>
            <li>
              <a href="/pokemon/<%=i%>"><%= pokemon[i].name.charAt(0).toUpperCase() + pokemon[i].name.slice(1) %></a>
            </li>
            <% } %>
        </ul>
    </body>
</html>