<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon App</title>
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
          font-family: 'Spartan', monospace;
          text-align: center;
        }
        a {
            display: block;
            margin-top: 30px;
        }
      </style>
</head>
    <body>
        <h1 style="font-size: xx-large; text-decoration: underline;">Pokemon App</h1>
        <h1>Gotta Catch Them All!</h1>
        <h2><%= pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1) %></h2>
        <img src="<%= `${pokemon.img}.jpg` %>" alt="pokemon picture" />
        <a href="/pokemon">Return to Home Page</a>
    </body>
</html>