@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
    text-align: center;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background: url(https://pbs.twimg.com/media/DonFRcXX0AUj7JI.jpg:large);
    min-height: 100vh;
    color: white;
    padding-bottom: 3%;
}


h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 56px;
}

form {
    margin-top: 1em;
    margin-bottom: 4em;
}

h3 {
    margin-top: 1em;
    font-size: 32px;
    font-weight: 800;
}

h4 {
    margin-bottom: 0.5em;
    font-size: 28px;
}

p {
    margin-bottom: 3em;
    font-size: 18px;
}

.container {
    background: rgba(0, 0, 0, 0.803);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5em;
    padding-right: 5em;
    margin-top: 5em;
    border-radius: 20px;
}
