

.hero h1 {
    color: white;
    font-size: 58px;
}

.hero {
    background-color: #3842d2;
    width: 100%;
}

.hero p {
    font-size: 24px;
    font-family: sans-serif;
    color: white;
    margin-bottom: 45px;
}

.hero .container {
    padding-left: 68px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.button {
    color: #3842d2;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    padding: 15px 20px 15px 20px;
}

.float-left {
    float: left;
}

.logo img {
    height: 100px;
    width: auto;
    padding-left: 10px;
}

body {
    margin: 0px 0px 0px 0px;
}

.main {
    width: 100%;
    align-content: center;
}

.main img {
    width: 90%;
    height: auto;
}

.main div {
    width: 25%;
    text-align: center;
    border-style: solid;
    border-color: grey;
    border-radius: 20px;
    margin: 20px;
}

.main h3 {
    margin: 40px;
}

.main h4 {
    color: grey;
    margin-top: 40px;
}

.button2 {
    color: grey;
    text-decoration: none;
    border-style: solid;
    border-color: grey;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    margin: 50px;
}
