

h1 {
    color: white;
    font-size: 58px;
}

.hero {
    background-color: #3842d2;
    width: 100%;
}

p {
    font-size: 24px;
    font-family: sans-serif;
    color: white;
}

.hero .container {
    padding-left: 68px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.button {
    color: #3842d2;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.float-left {
    float: left;
}