h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    color: maroon;
}

.social {
    padding: 15px;
    border: 5px;
}

.experience {
    padding: 15px;
    border: 5px;
}

p {
    margin-top: 8px;
}

h4 {
    margin-bottom: 3px;
}