@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 595px;
  font-family: 'Baloo Paaji 2', cursive;
  color: white;
  background: #212528;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  padding-bottom: 10%;
}




.navBar {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 3px;
  margin-bottom: 1.5em;
  background: radial-gradient( circle 926px at 2.7% 11%,  rgba(17,29,94,1) 0%, rgba(178,31,102,1) 90% );
  color: white;
  -webkit-box-shadow: 0 8px 6px -6px rgb(116, 116, 116);
  -moz-box-shadow: 0 8px 6px -6px rgb(116, 116, 116);
  box-shadow: 0 8px 6px -6px rgb(116, 116, 116);
}

.navBar h1 {
  font-size: 46px;
  letter-spacing: 1px;
}

.form-app-container {
  padding-left: 20%;
  padding-right: 20%;
}

label {
  padding-left: 5px;
  margin-bottom: 0;
}


.form-container {
  padding-left: 6%;
  padding-right: 6%;
  margin-bottom: 3em;
  margin-top: 1em;
}

.form-container h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 34px;
}

.form-container label {
  font-size: 22px;
}


td {
  width: 13%;
  text-align: center;
}

th {
  text-align: center;
}

th h5 {
  display: inline-block;
  padding-top: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 26px;
}


#add-bookmark-button {
  width: 50%;
  margin-left: 25%;
  margin-top: 0.5em;
  border-radius: 10px;
}

.animals-container {
  margin-bottom: 10%;
  margin-right: 0;
}

table {
  text-align: center;
  width: 100%;
}

td img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

td p{
  font-size: 22px;
  height: 50%;
  padding-top: 25px;
  
}


.form-group input {
  border-radius: 10px;
}

.form-group input:hover {
  box-shadow: 0px 0px 12px 0.8px rgba(179, 179, 179);
}

#animal-list-button {
  width: 80px;
  border-radius: 7px;
  margin-top: 25px;
  width: 60%;
}

#adopted-list-button {
  width: 80px;
  border-radius: 7px;
  margin-top: 25px;
  width: 60%;
}

#edit-form-button {
  width: 50%;
  margin-top: 15px;
  border-radius: 10px;
  margin-left: 25%;
}

.age-icon {
  text-align: center;
}

.button-td {
  text-align: center;
}

.button-td-img {
  text-align: center;
}


