body {
    margin: 0%;
}
.container {
    position: relative;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    height: auto;
}

#sailboat {
    display: block;
    width: 100%;
    height: auto;
}

.centered  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#title {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;
}
#subtitle {
    font-size: 40px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 55px;
}

#rows  {
    margin-left: flex;
    display: flex;
    justify-content: center;
}

#rows section {
    width: 400px;
    height: 100%;
    display: inline-block;
    margin-left: 5%;
}

#rows p {
    width: 300px;
    height: auto;
}

.img-column {
    width: 300px;
    height: 225px;
}

nav  {
    background-color: black;
    color: white;
    opacity: 0.9;
    text-align: center;
}
ul  {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}

li {
    display: inline;
    font-size: 20px;
}

#listitems  {
    margin-bottom: 15px;
    padding-top: 30px;
}

#listitems li {
    padding-left: 30px;
    position: relative;
    letter-spacing: 1px;
}

#readme {
    margin-top: 10px;
    padding-bottom: 30px;
    letter-spacing: 1px;
}

.heading {
    text-align: center;
    font-size: 35px;
    margin: 60px 100px 60px 100px;
    line-height: 70px;
}

#banner {
    margin: 30px 0px 30px 15px;
}

footer {
    margin-top: 15px;
    margin-bottom: 20px;
}
